h1, h2, h3, p, ol, ul {
	margin: 0;
	padding: 0;
}

* { box-sizing:border-box; }

img { max-width:100%; }

/************* End CSS RESETS **************/

body {
	background:url(images/79abd72250c0004e626c1fa1986c9f35.jpg);
	color: darkolivegreen;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

#page {
	max-width: 980px;
	margin: auto;
}

header {
	border-bottom: 3px solid #424242;
	padding-bottom: 10px;
}

header, footer {
	margin: 0 10px;
}
section {
	padding:20px 0;
}

footer {
	border-top: 3px solid #424242;
	padding-top: 20px;
}

#shows {
	padding: 10px;
	padding-top:20px;
	
}

#shows h1{
	clear: both;
}

#shows ol{
	float:left;
	margin:auto;
}

#showtitles{
	padding-left:30px;
}

#showtitles li{
	list-style-type:none;
	text-decoration: none;
	color: cornflowerblue;
	font-weight: bold;
	font-size: 20px;
	float:left;
	padding-right: 25px;
	padding-left:25px;
}

#showpics li{
	list-style-type:none;
	padding:0px;
	float:left;
}

img{
	width:170px;
	max-height:200px;
	padding-right:10px;
	padding-left:10px;
}

#projects {
	padding: 10px;
	padding-bottom: 20px;
	clear:both;
}

footer{
	background: lightgreen;
	padding:10px;
	border-style: dotted;
	border-color: lightcoral;
}

footer h1{
	color:darkgoldenrod;
}

.alignleft {
	float: left;
	margin: 0 10px 5px 0;
}

/************ typography *************/

h1, h2, h3 {
	font-family: 'Bitter', serif;
	margin-bottom:.5em;
}

h1 {
	font-size:150%;
	color:white;
}

h2{
	color: cornflowerblue;
}

header h1 {
	font-size:300%;
	margin-bottom:.1em;
}

p {
	line-height:1.5em;
	margin-bottom:1em;
}

ul, ol {
	margin-bottom:1em;
	padding-left:1.2em;
}

li {
	margin-bottom:.5em;
}

a {
	text-decoration:none;
	color:#045685;
}

a:hover {
	text-decoration:underline;
}

@media only screen and (min-width: 600px) {
	
	main { display: flex;}
	#about { flex: 2; }
	#projects { flex: 1; }
	
}


	

